#body
{
  background-image: url('img/gifproto.gif');
  background-repeat: no-repeat;
  background-attachment: ;
  background-position: center;
  background-size: ;
  min-width: 100vw;
  min-height: auto;
  /*overflow: hidden;*/
}
img
{
  max-width: 200px;
  max-height: 350px;
}

.backDoor
{
  position:relative;
  width:200px;
  height:350px;
  max-width: 200px;
  max-height: 350px;
  margin: 0 auto;
  margin-top:50px;
}

.col-sm-2{
  padding-left: none !important;
}

.door
{
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:350px;
  max-width: 200px;
  max-height: 350px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
   /*overflow: hidden;
   /*max-width: 25vw;
   /*max-height: auto;*/
}
.door2
{
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:350px;
  max-width: 200px;
  max-height: 350px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
   /*overflow: hidden;
   /*max-width: 25vw;
   /*max-height: auto;*/
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
